<h2>Meetup registration</h2>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input #name id="name" type="text" autocomplete="off" autofocus>
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea #about id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Tell me about yourself</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type="submit"
            (click)="addGuest($event, name.value, about.value)"
            class="waves-effect waves-light btn blue darken-4">Submit</button>
      </div>
    </div>
  </form>
</div>
